<footer class="footer">
  <div class="container-footer">
    <div class="footer-left">
      <img src="img/Helply_Logo_text.png" alt="" />
      <p>Makes is so the teacher can help you from anywhere</p>
    </div>
    <section class="footer-nav">
      <ul class="nav-card">
        <li><a href="">About</a></li>
        <li><a href="">Developers</a></li>
        <li><a href="">Contact Us</a></li>
      </ul>
      <ul class="nav-card">
        <li><a href="">Instagram</a></li>
        <li><a href="">LinkdIn</a></li>
        <li><a href="">Discord</a></li>
      </ul>
    </section>
    <hr class="footer-line" />
    <p class="text-muted">
      Copyright &copy; 2026, Helply, All rights reserved.
    </p>
  </div>
</footer>
