<nav class="navbar">
  <a href="/"><img src="/img/Helply_Logo.png" alt="Helply Startside" /></a>

  <ul class="nav-list">
    <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
    <li class="nav-item"><a class="nav-link" href="/signin">Sign In</a></li>
  </ul>
</nav>