<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <%- include('partials/nav') %>
    <section class="container">
        <h1>Error</h1>
        <p><%= message %></p>
    </section>
    <%- include('partials/footer') %>
</body>
</html>