<%- include('partials/head') %> <%- include('partials/nav') %>
<link rel="stylesheet" href="css/index.css" />
<div class="container">
  <h1>Welcome to Helply</h1>
  <section class="question-card">
    <p class="Timestamp">Timestamp:</p>
    <h2>Title:</h2>
    <h3>Author:</h3>
  </section>
</div>

<%- include('partials/footer') %>
