<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <%- include('partials/nav') %>
            <link rel="stylesheet" href="/css/auth.css" />

            <section>
                <div class="auth-card">

                    <h1>Sign In </h1>
                    <form action="/signin" method="POST">
                        <label for="username">Username</label>
                        <input type="text" name="username" id="username" />
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" />
                        <button type="submit">Submit</button>
                        <p>Don't have an account? <a href="/signup">Sign Up</a></p>
                    </form>
                </div>
            </section>

            <%- include('partials/footer') %>
    </body>

</html>