<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
  <link rel="stylesheet" href="/css/auth.css" />

  <body>

    <%- include('partials/nav') %>

      <section>
        <div class="auth-card">
          <h1>Sign Up</h1>
          <form action="/signup" method="POST">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" />
            <label for="password">Password</label>
            <input type="password" name="password" id="password" />
            <label for="confPassword">Confirm Password</label>
            <input type="password" name="confPassword" id="confPassword" />
            <button type="submit">Submit</button>
          </form>
          <p>Already have an account? <a href="/signin">Sign In</a></p>
        </div>

      </section>

      <%- include('partials/footer') %>
  </body>
</html>

