<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<script src="/script/signup.js" defer></script>
    <body>
        <%- include('partials/nav') %>
            <link rel="stylesheet" href="/css/auth.css" />

            <section>
                <div class="auth-card">

                    <h1>Sign Up</h1>
                    <form >
                        <label for="username">Username</label>
                        <input type="text" name="username" id="username" />
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" />
                        <label for="confPassword">Confirm Password</label>
                        <input type="password" name="confPassword" id="confPassword" />
                        <button type="submit">Submit</button>
                        <p>Already have an account? <a href="/signin">Sign In</a></p>
                    </form>
                </div>
            </section>

            <%- include('partials/footer') %>
    </body>

</html>